.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

div#global{
  /*设置宽度，设置百分比可以根据浏览器自适应宽度*/
  width: 100%;
  /*设置高度，950px是设置是实体高度，不能自适应的*/
  height: 768px;
  /*设置背景颜色，方便区分布局*/
  background-color: silver;
}
/*定义头部布局，前面的div可以不用写，#号前面默认有个id，凡事定义了id的标签，都可以用#号来表示*/
#heading{
  width: 100%;
  height: 100px;
  background-color: #BB80F7;
}
#content_menu{
  width: 100px;
  height: 100%;
  position:absolute;
  left:0px;
}
#left1{
  width: 122px;
  height: 100%;
  position:absolute;
  left: 0px;
}

#left2{
  width: 122px;
  height: 100%;
  position:absolute;
  left: 120px;
}

#left3{
  width: 375px;
  height: 100%;
  position:absolute;
  left: 242px;
}

.btn{
  width:122px;
  height:30px;
}

#floor{
  clear: both;
  height: 100px;
}
